.Navigation {
    
    padding: 13px;

}

.Navigation-container {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.Navigation_links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}
.Navigation-logo {
    font-size: 1.5rem;
    font-weight: 600;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;

}

.Navigation_links {

    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    gap: 15px;
    
}
.Navigation_links a {
    font-size: 1rem;
    font-weight: 500;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

.Navigation_options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.Navigation_options_item {
    font-size: 14px;
    font-weight: 700;
    color: #23A6F0;


}

.Navigation_options_item img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    cursor: pointer;
}
